#myclass1 {
  font-size: 0.4rem;
  color: #000;
  border-color: #42a4e800;
  background-color: #42a4e800;
  border: none;
  border-radius: 0px;
  
}
div.scrollmenu {
  /* background-color: #333; */
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:active {
  text-decoration: underline;
}
